<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spt.helloworld.dao.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.spt.helloworld.domain.Orders">
    <id column="o_number" jdbcType="INTEGER" property="oNumber" />
    <result column="z_id" jdbcType="INTEGER" property="zId" />
    <result column="o_address" jdbcType="VARCHAR" property="oAddress" />
    <result column="o_money" jdbcType="DOUBLE" property="oMoney" />
    <result column="o_date" jdbcType="TIMESTAMP" property="oDate" />
    <result column="o_status" jdbcType="VARCHAR" property="oStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    o_number, z_id, o_address, o_money, o_date, o_status
  </sql>
  <select id="selectByExample" parameterType="com.spt.helloworld.domain.OrdersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where o_number = #{oNumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where o_number = #{oNumber,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.spt.helloworld.domain.OrdersExample">
    delete from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.spt.helloworld.domain.Orders">
    insert into orders (o_number, z_id, o_address, 
      o_money, o_date, o_status
      )
    values (#{oNumber,jdbcType=INTEGER}, #{zId,jdbcType=INTEGER}, #{oAddress,jdbcType=VARCHAR}, 
      #{oMoney,jdbcType=DOUBLE}, #{oDate,jdbcType=TIMESTAMP}, #{oStatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spt.helloworld.domain.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oNumber != null">
        o_number,
      </if>
      <if test="zId != null">
        z_id,
      </if>
      <if test="oAddress != null">
        o_address,
      </if>
      <if test="oMoney != null">
        o_money,
      </if>
      <if test="oDate != null">
        o_date,
      </if>
      <if test="oStatus != null">
        o_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oNumber != null">
        #{oNumber,jdbcType=INTEGER},
      </if>
      <if test="zId != null">
        #{zId,jdbcType=INTEGER},
      </if>
      <if test="oAddress != null">
        #{oAddress,jdbcType=VARCHAR},
      </if>
      <if test="oMoney != null">
        #{oMoney,jdbcType=DOUBLE},
      </if>
      <if test="oDate != null">
        #{oDate,jdbcType=TIMESTAMP},
      </if>
      <if test="oStatus != null">
        #{oStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.spt.helloworld.domain.OrdersExample" resultType="java.lang.Long">
    select count(*) from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orders
    <set>
      <if test="record.oNumber != null">
        o_number = #{record.oNumber,jdbcType=INTEGER},
      </if>
      <if test="record.zId != null">
        z_id = #{record.zId,jdbcType=INTEGER},
      </if>
      <if test="record.oAddress != null">
        o_address = #{record.oAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.oMoney != null">
        o_money = #{record.oMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.oDate != null">
        o_date = #{record.oDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oStatus != null">
        o_status = #{record.oStatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orders
    set o_number = #{record.oNumber,jdbcType=INTEGER},
      z_id = #{record.zId,jdbcType=INTEGER},
      o_address = #{record.oAddress,jdbcType=VARCHAR},
      o_money = #{record.oMoney,jdbcType=DOUBLE},
      o_date = #{record.oDate,jdbcType=TIMESTAMP},
      o_status = #{record.oStatus,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.spt.helloworld.domain.Orders">
    update orders
    <set>
      <if test="zId != null">
        z_id = #{zId,jdbcType=INTEGER},
      </if>
      <if test="oAddress != null">
        o_address = #{oAddress,jdbcType=VARCHAR},
      </if>
      <if test="oMoney != null">
        o_money = #{oMoney,jdbcType=DOUBLE},
      </if>
      <if test="oDate != null">
        o_date = #{oDate,jdbcType=TIMESTAMP},
      </if>
      <if test="oStatus != null">
        o_status = #{oStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where o_number = #{oNumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spt.helloworld.domain.Orders">
    update orders
    set z_id = #{zId,jdbcType=INTEGER},
      o_address = #{oAddress,jdbcType=VARCHAR},
      o_money = #{oMoney,jdbcType=DOUBLE},
      o_date = #{oDate,jdbcType=TIMESTAMP},
      o_status = #{oStatus,jdbcType=VARCHAR}
    where o_number = #{oNumber,jdbcType=INTEGER}
  </update>
</mapper>